/* --------M A R G I N--------- */
* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ¬¬¬¬¬¬¬¬¬¬ header ¬¬¬¬¬¬¬¬¬¬¬ */
header {
    display: inline-block;
}
/* ¬¬¬¬¬¬¬¬¬¬ body ¬¬¬¬¬¬¬¬¬¬¬ */
/* #green {
    float: left;
    height: 100%;
    background-image: url(../img/green.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px;
    /* Topo, Direita, Baixo, Esquerda */
    /* padding: 0px 8px 0px 0px; */
    /*      Topo, Direita, Baixo, Esquerda */
} */
/* ¬¬¬¬¬¬¬¬¬¬ body ¬¬¬¬¬¬¬¬¬¬¬ */

/* ¬¬¬¬¬¬¬¬¬¬ BODY-1 ¬¬¬¬¬¬¬¬¬¬¬ */
#section1 {    
    /* The image used */
    background-image: url(../img/fundo.jpg);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px;
    /* Topo, Direita, Baixo, Esquerda */
}

#titulo {
    color: aliceblue;
    font-size: 50px;
    font-weight: 200;    
}

#bot-1 {
    /* SOLICITE UM ORÇAMENTO */
    float: left;
    font-size: 17px;
    color: white;
    background-color: rgb(46, 117, 203);
    border-radius: 4px;
    border-color: rgb(46, 117, 203);
    padding: 7px 25px 7px 25px;
    /* Topo, Direita, Baixo, Esquerda */
}


/* ¬¬¬¬¬¬¬¬¬¬ BODY-1 ¬¬¬¬¬¬¬¬¬¬¬ */
h2 {
    text-align: center;
}
/* ¬¬¬¬¬¬¬¬¬¬ BODY-2 ¬¬¬¬¬¬¬¬¬¬¬ */
#section2>article {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin: 40px 0px 30px 0px;
    padding: 50px 0px 50px 0px;
    /* Topo, Direita, Baixo, Esquerda */
}

/* ¬¬¬¬¬¬¬¬¬¬ BODY-3 ¬¬¬¬¬¬¬¬¬¬¬ */
#section2>figure {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin: 40px 0px 30px 0px;
    padding: 50px 0px 50px 0px;
    /* Topo, Direita, Baixo, Esquerda */
}

#section3>figure {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin: 40px 0px 30px 0px;
    /* padding: 50px 0px 50px 0px; */
    /* Topo, Direita, Baixo, Esquerda */
}

#section4>article {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin: 40px 0px 30px 0px;
    /* padding: 50px 0px 50px 0px; */
    /* Topo, Direita, Baixo, Esquerda */
}


#secbuton {
    text-align: center;
}

/* ¬¬¬¬¬¬¬¬¬¬ secbuton buton ¬¬¬¬¬¬¬¬¬¬¬ */
#bot-2 {
    font-size: 17px;
    color: rgb(46, 117, 203);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-color: cornflowerblue;
    padding: 7px 25px 7px 25px;
    /* Topo, Direita, Baixo, Esquerda */
}
    
hr {
    margin: 30px;
    border-color: rgb(255, 255, 255);    
}
/* ¬¬¬¬¬¬¬¬¬¬ secbuton buton ¬¬¬¬¬¬¬¬¬¬¬ */
    

#section5>article {
    color: aliceblue;
    text-align: center;
    margin: 40px 0px 30px 0px;
    padding: 50px 0px 50px 0px;
    
    /* Topo, Direita, Baixo, Esquerda */
}

#section5 {
    background-color: rgb(8, 74, 112);
}


/* ¬¬¬¬¬¬BackGround I M A G E N S¬¬¬¬¬¬¬¬¬ */




.imgcap {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 400px;  */
}

.nivel1 {
    display: inline-block;
}

.nivel2 {
    display: inline-block;
}

.nivel3 {
    display: inline-block;
}


/* ¬¬¬¬¬¬BackGround I M A G E N S¬¬¬¬¬¬¬¬¬ */

/* ¬¬¬¬¬¬LISTA NAV¬¬¬¬¬¬¬¬¬ */
nav>ul {
    float: left;
    list-style: none;
    margin: 15px;
}

nav>ul>li {
    display: inline-block;
    padding: 15px 30px 20px 20px;
    /*      Topo, Direita, Baixo, Esquerda */
    float: center;
}

li {
    display: inline-block;
}

nav {
    float: right;
    background-color: white;
}

/* ¬¬¬¬¬¬LISTA NAV¬¬¬¬¬¬¬¬¬ */

/* ¬¬¬¬¬¬S E C T I O N S¬¬¬¬¬¬¬¬¬ */


/* .sec {
    width: 33%;
    display: inline-block;
    text-align: center;
} */

/* #section2>article{
    
}

#section3>article{
    width: 33%;
    display: inline-block;
    text-align: center;
}

#section4>article{
    width: 33%;
    display: inline-block;
    text-align: center;
}
#section5>article{
    width: 33%;
    display: inline-block;
    text-align: center;
}

#section6>article{
    width: 33%;
    display: inline-block;
    text-align: center;
}

#section7>article{
    width: 33%;
    display: inline-block;
    text-align: center;
}

#section8>article{
    width: 33%;
    display: inline-block;
    text-align: center;
}
/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */



/* ¬¬¬¬¬¬B U T T O N S¬¬¬¬¬¬¬¬¬ */


#bot-3 {
    /* LER MAIS */ 
    float: left;
    font-size: 17px;
    color: rgb(84, 88, 92);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-color: gray;
    padding: 7px 25px 7px 25px;
    /* Topo, Direita, Baixo, Esquerda */
}
/* ¬¬¬¬¬¬B U T T O N S¬¬¬¬¬¬¬¬¬ */
